<ion-header no-border>
    <ion-toolbar>
      <ion-title text-center>
        PizzyBite
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding class="body">
       <p text-center ><ion-icon name="contact" style="zoom:5.0;"></ion-icon></p>
    <div class="form">
      <ion-list>
          <ion-item>
              <ion-label fixed>
                  <ion-icon name="contact"></ion-icon>
              </ion-label>
            <ion-input type="text" placeholder="Name"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label fixed>
                  <ion-icon name="mail"></ion-icon>
              </ion-label>
            <ion-input type="email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label fixed>
                  <ion-icon name="lock"></ion-icon>
              </ion-label>
              <ion-input type="password" placeholder="Password"></ion-input>
            </ion-item>
        </ion-list>
        <ion-button fill="outline" expand="block"S>Sign Up</ion-button>
        <p text-center>Already have an account? <ion-anchor href="/home"> Sign in </ion-anchor></p>
    </div>
</ion-content>


